ul{
  list-style: none;
  padding: 0px 3px;
  box-sizing: border-box;
  width: 100%;
}
li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

span.id{
  width: 10%;
}

span.name{
  width: 60%
}
span.count{
  width: 30%;
}
span.content{
  width: 100%;
}
